// TODO: Shame file
// strongly consider making a shame file for the quick fixes and go back to clean
// up after to keep it modular, example _shame.scss

// lets style the page a bit so we can be better and awesome
body.hidden {
	// applies to body when elements do not want scrolling of body
	overflow: hidden;
}
header:not(.main-header) {
	background-color: $primary;
	color: white;
	padding: 2em;
	font-size: 1.8rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}
footer {
	background-color: rgba(0,0,0,0.9);
	color: white;
	padding: 2em;
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
}

section {
	margin: 50px auto;
	padding: 70px 20px;
	border-bottom: 1px solid $dark;
}
.main {
	transition: max-width 2s;
	&--responsive{
		max-width: 320px;
		transition: max-width 2s;
	}
}

.nav {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: $dark;
	transform: translateX(-100%);
	transition: transform .3s;
	&.active {
		transform: translateX(0);
	}
}
.menu-btn {
	width: calc(100% + 70px);
	position: relative;
	text-align: right;
	color: white;
	background-color: $dark;
	padding: 2em;
	&:before {
		transform: translateY(-5px);
	}
	&:after {
		transform: translateY(5px);
	}
	&:before, &:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 25px;
		width: 25px;
		height: 3px;
		background: white;
		transition: transform .3s;
	}
	&.active {
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
}
.nav-menu {
	list-style: none;
	transform: translateY(1280px);
	transition: transform .3s .3s;
	&.active {
		transform: translateY(0);
	}
	li {
		padding: 1em 2em;
		color: white;
		font-size: 14px;
		font-weight: 300;
		&:hover {
			background-color: $primary;
		}
	}
}

.section {
	&.section-tflex {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $light;
		overflow: auto;
		transform: translateX(-100%);
		transition: transform .3s;
		&.active {
			transform: translateX(0);
		}
	}
}


h1 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 2rem;
	font-weight: 900;
	text-transform: uppercase;
	margin: 20px 0 10px;
}
p {
	font-size: 1rem;
	font-weight: lighter;
	line-height: 1.7;
}
#output {
	background-color: rgba(240,240,240,1.0);
	color: $dark;
	font-size: 14px;
	margin: 40px 0;
	padding: 10px 24px 15px;
	box-shadow: inset 0px 0px 1px $dark, 0px 1px 12px rgba(0,0,0,.2);
	overflow: auto;
	@include border-radius(12px);
}

.flex-test {
	min-width: 5px;
	min-height: 20px;
	margin: 1em;
	background: $primary;
	border-radius: 12px;
}
